.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vw;
}
.playable {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
.board {
  display: flex;
  gap: 6vw;
}
.door {
  width: 20vw;
  aspect-ratio: 1/2;
  position: relative;
  background-image: url(images/red_door.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.door::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.1s ease;
}

.door:hover::after {
  background-color: rgba(0, 0, 0, 0.2);
}

.door:active::after {
  background-color: rgba(0, 0, 0, 0.4);
}

.door.open {
  background-image: none;
  border: 4px solid var(--clr-500);
}

.door.open::after {
  display: none;
}
.door.car::before,
.door.goat::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.door.car::before {
  background-image: url(images/car.png);
}

.door.goat::before {
  background-image: url(images/goat.png);
}

.results {
  display: flex;
  gap: 3vw;

  > p {
    width: 10vw;
    min-width: fit-content;
  }
}
